@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&family=Noto+Sans+SC:wght@300;400;500&display=swap');

@theme {
  --font-serif: "Noto Serif SC", serif;
  --font-sans: "Noto Sans SC", sans-serif;
}

body {
  @apply font-sans bg-gray-50 text-gray-900;
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: #fdfcf8;
  }
  &::-webkit-scrollbar-thumb {
    background: #e6d5b8;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #c4a484;
  }
}
